@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

/*a:hover,a:focus,a:active,a:visited{
    text-decoration: none;
    color: black;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-align: right;
  }
  nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: white;
    transition: 0.3s;
  }
*/